@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
html, body {
  font-family: 'Lato', sans-serif;
  position: relative;
  font-weight: bold;
}

.alert-on{
  visibility: visible;
}

.alert-off{
  visibility: hidden;
}

.hireMe{
  margin-left: 20px;
  margin-right: -50px;
}

.form-control-plaintext{
  width: 100%;
}

textarea{
  min-width: 470px;
  min-height: 150px;
  max-width: 470px;
  max-height: 150px;
}

section {
  min-height: 100vh;
  max-height: 100vh;
}

.mid-sec-1 {
  height: 50vh;
  background-image: url(../image/bg1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.mid-sec-2 {
  height: 50vh;
  background-image: url(../image/bg4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.mid-sec-3 {
  height: 50vh;
  background-image: url(../image/header.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.top {
  background-image: url(../image/bg3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.about {
  background-color: lightblue;
}

.topBtn {
  display: inline-block;
  height: 50px;
  z-index: 9;
  width: 50px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  font-size: 26px;
  text-align: center;
  line-height: 40px;
  border: 3px solid #34314c;
  background-color: #34314c;
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-box-shadow:0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);
  box-shadow:0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.topBtn.topBtn-visible, .topBtn.topBtn-fadeOut, .no-touch .topBtn:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.topBtn.topBtn-visible {
  visibility: visible;
  opacity: 0.8;
}

.topBtn-fadeOut {
  opacity: .5;
}

.topBtn:hover {
  background-color: #34314c;
  opacity: 1;
  color: #f8ca00;
}
